<div class="counter-component">
  <div class="wrap-circle">
    <div class="circle-elemet">
      <div class="title-rock">Rock Music Improvment</div>
      <app-progress-circle [progress]='70' [color]='"blue"'></app-progress-circle>
    </div>
    <div class="circle-elemet">
      <div class="title-pop">Pop Music Improvment</div>
      <app-progress-circle [progress]='54' [color]='"green"'></app-progress-circle>
    </div>
    <div class="circle-elemet">
      <div class="num-of-click">
        <div class="num-of">1272</div>
        <div class="title-of-click">KEYBOARD CLICKS</div>
      </div>
      <div class="num-of-click">
        <div class="num-of">850</div>
        <div class="title-of-click">MOUSE CLICKS</div>
      </div>
    </div>
  </div>
  <app-users></app-users>

</div>
