<div class="counter-component">
  <div class="wrap-circle">
    <div class="circle-elemet">
      <div class="title-rock">Rap Music Improvment</div>
      <app-progress-circle [progress]='25' [color]='"#3aa1df"'></app-progress-circle>
    </div>
    <div class="circle-elemet">
      <div class="title-pop">Chillout Music Improvment</div>
      <app-progress-circle [progress]='5' [color]='"#0F2937"'></app-progress-circle>
    </div>
    <div class="circle-elemet">
      <div class="num-of-click">
        <div class="num-of">12376</div>
        <div class="title-of-click">KEYBOARD CLICKS</div>
      </div>
      <div class="num-of-click">
        <div class="num-of">30000</div>
        <div class="title-of-click">MOUSE MOVEMENTS</div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div style="display: block;">
      <canvas style="background-color: #770a0ab; margin-left: 80px; margin-right: 80px;"
              baseChart width="1000" height="600"
                  [datasets]="lineChartData"
                  [labels]="lineChartLabels"
                  [options]="lineChartOptions"
                  [colors]="lineChartColors"
                  [legend]="lineChartLegend"
                  [chartType]="lineChartType"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"></canvas>
      </div>
    </div>

</div>
