.counter-component {

h1 {
  font-size: 14px;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

  //   background-color: rgb(242, 243, 247);
  height: 100%;
  width: 100%;
  .wrap-circle {
    padding-top: 40px;
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    justify-content: space-around;
  }
  .circle-elemet {
    display: flex;
    width: 266px;
    color: #0F2937;
    font-family: monospace;
    width: 284px;
    flex-direction: column;
    text-align: center;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    align-items: center;
    justify-content: center;
    margin-bottom: 35px;
    .title-pop {
      padding-top: 10px;
      padding-bottom: 15px;
    }
    .title-rock {
      padding-top: 10px;
      padding-bottom: 15px;
    }
    .num-of {
      font-size: 50px;
      font-weight: 600;
      color: #0F2937;
      font-family: monospace;
    }
    .title-of-click {
      font-weight: 600;
      color: #0F2937;
    }
    .num-of-click:nth-child(1) {
        border-bottom: 1px solid #0F2937;
        padding-bottom: 10px;
    }
  }
}
