<div class="users-component">
  <div style='padding-top: 20px;padding-bottom: 10px;font-size: 54px;font-weight: bold;text-align: center;'>It's sounds Great! </div>
  <img src="../assets/images/tinnitus.jpg" style='position: absolute;height: 280px;'>
  <div style='width: 580px;font-size: 25px;font-family: fantasy;margin-left: 440px;margin-top: 100px;'>"… Results indicated that state positive affect and quality-of-work were lowest with no music, while time-on-task was longest when music was removed. Narrative responses revealed the value of music listening for positive mood change and enhanced perception on design while working..."</div>
  <div style='margin-left: 600px;margin-top: 20px;font-size: 20px;font-weight: bold;font-family: monospace;'>The effect of music listening on work performance​</div>
  <div style='margin-left: 1000px;margin-top: 10px;font-family: cursive;'>-Teresa Lesiuk​</div>
  <img src="../assets/images/physics-the-nature-of-sound.jpg" style='position: absolute;height: 280px;transform: rotate(180deg);bottom: 0px; right: 0px;'>
</div>
