<div class="users-component">
  <button (click)="actions.fetchUsers()">Get User Activity</button>
  <div>This is User Activity: </div>
  <div *ngFor="let name of names$ | async">
    {{name.title}}
    {{name.author_name}}
  </div>

  
  <div class="row">
    <div class="col-md-6">
      <div style="display: block;">
      <canvas style="background-color: #0F2937; margin-left: 80px; margin-right: 80px;"
              baseChart width="1000" height="600"
                  [datasets]="lineChartData"
                  [labels]="lineChartLabels"
                  [options]="lineChartOptions"
                  [colors]="lineChartColors"
                  [legend]="lineChartLegend"
                  [chartType]="lineChartType"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"></canvas>
      </div>
    </div>
    <!-- <div class="col-md-6" style="margin-bottom: 10px">
      <table class="table table-responsive table-condensed">
        <tr>
          <th *ngFor="let label of lineChartLabels">{{label}}</th>
        </tr>
        <tr *ngFor="let d of lineChartData">
          <td *ngFor="let label of lineChartLabels; let j=index">{{d && d.data[j]}}</td>
        </tr>
      </table>
      <button (click)="randomize()">CLICK</button>
    </div> -->
  </div>
</div>